@import "colors";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}
img{
    display: block;
    width: 100%;
    max-width: 100%;
}
li{
    list-style: none;
}

#main{
    // height: 100px;
    background-color: $background;
    font-family: 'Lato',sans-serif;
    color: $white;
}

#scroll-page{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: $white;
}

.button{
    height: 50px;
    width: 100%;
    background-color: #fff;
    background: rgb(68,100,242);
    background: linear-gradient(90deg, $mainColorSecond 0%, $mainColor 25%, $mainColorSecond 50%, $mainColor 75%, $mainColorSecond);
    background-size: 800%;
    background-position: 0 50%;
    border-radius: 16px;

    a {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        gap: .5em;
        font-size: 1.7rem;
        font-family: Dosis;
        font-weight: 600;
        text-transform: uppercase;
    }
}
.button:hover{
    animation: gradient 14s ease infinite;
}

.text-normal{
    font-size: 1.4rem;
    margin-bottom: 1em;
}

.h1{
    font-size: 6.5rem;
    line-height: 7rem;
    font-weight: 700;
    font-family: Dosis;
    margin-bottom: .8em;
}

.h2{
    font-size: 4.5rem;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    margin: 1em 0;
}

.h4 {
    font-size: 2.3rem;
    line-height: 3.3rem;
    margin-bottom: .4em;
}

.h5{
    font-size: 2rem;
    font-family: 'Dosis', sans-serif;
    color: $grey;
}

.text-colored{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    background: linear-gradient(135deg, $mainColorSecond 30%, $mainColor 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container{
    width: 56%;
    max-width: 750px;
    margin-left: 35%;
}

.breakpoint{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.4rem;
    padding: 10px 15px;
    border: 1px solid $white;
    border-radius: 20px;
    margin: 5em 0 auto;
    align-self: flex-start;

    i{
        margin-right: .5em;
    }
}

.info-container{
    background-color: rgba(1,2,2,1);
    background-image: linear-gradient(180deg, rgba(2,0,48,1) 0%, rgba(1,2,2,1) 100%);
}

.info {
    position: fixed;
    top: 50%;
    left: 40px;
    transform: translate(0%, -50%);
    border: 2px solid $white;
    background-color: rgba(2,0,48, .4);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding: 25px;
    z-index: 1;

    &__name {
        font-family: "Dosis",sans-serif;
        font-weight: 700;
        font-size: 3.4rem;
        margin-bottom: 0.3em;
    }

    &__image{
        border-radius: 25px;
        overflow: hidden;
        margin-bottom: 1.5em;
        padding: 4px;
        background: rgb(68,100,242);
        background: linear-gradient(145deg, $mainColorSecond 0%, $mainColor);

        img{
            border-radius: 23px;
        }
    }

    &__contact{
        text-align: center;
    }

    &__media {
        display: flex;
        justify-content: center;
        margin-bottom: 2em;

        .media{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            font-size: 2rem;
            border: 1px solid $white;
            border-radius: 50%;
            margin: .25em;
            transition: all ease-out .2s;
            
            a{
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                transition: all ease-out .2s;
                
                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        .media:hover{
            border: 1px solid $mainColorSecond;
        }
        .media:hover a{
            transform: scale(1.4);
            color: $mainColorSecond;
        }
    }
}

.hero {
    height: 100vh;
    position: relative;
    
    &__image{
        img{
            width: 100%;
            height: 100vh;
            object-fit: cover;
            filter: brightness(.3);
        }
    }
    
    &__text{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        height: 100%;
        width: 56%;
        margin-left: 35%;

        .container{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .h5{
            margin-bottom: auto;
        }
    }
}

.about{
    background-image: linear-gradient(180deg,rgba(1,2,2,1) 0%, rgba(2,0,48,1) 100%);
}

.experience{
    display: flex;
    gap: 5em;
    text-align: center;
    margin-bottom: 6em;
    &__top{
        font-size: 7rem;
        color: $mainColorSecond;
    }

    &__bottom{
        color: $grey;
        font-size: 1.5rem;
    }
}

.scroll-menu{
    position: fixed;
    top: 50%;
    right: 40px;
    transform: translate(0%, -50%);
    font-size: 2em;
    border: 1px solid $white;
    border-radius: 30px;
    padding: .7em .4em;

    a{
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: .5em;
    }

    .menu-help{
        position: absolute;
        width: auto;
        padding: 5px 10px;
        border-radius: 5px;
        background-color:$mainColor;
        right: 60px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        font-size: 1.2rem;
        opacity: 0;
        pointer-events: none;
        transition: all .3s ease;
    }

    .menu-help::after{
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -7px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 0 7px 10px;
        border-color: transparent transparent transparent $mainColor;
    }

    i{

        transition: all .3s ease;
    }

    a:hover .menu-help{
        transition: all .4s ease;
        opacity: 1;
    }

    a:hover i{
        color: $mainColorSecond;
        transform: scale(1.35);
    }
    
    .active i {
        color: $mainColorSecond;
        transform: scale(1.35);
    }
}

.exp{

    .text-normal{
        color: #afabb3;
    }

    .h5{
        line-height: 0.8em;
    }

    &__header{
        padding: 0 0 0 6em;
        position: relative;
    }

    &__header::before{
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        background-color:$white;
        border-radius: 50%;
        left: -8px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__text{
        padding: 4em 0 4em 6em;
        border-left: 1px solid $white;
    }
}



@media(max-width:1300px){
    .h1{
        font-size: 6rem;
        line-height: 6.5rem;
    }
    .h5{
        font-size: 1.8rem;
    }
}

@media(max-width:1200px){
    .info-container{
        padding: 20px 20px 0;
    }

    .container{
        margin: 0 auto;
        width: calc(100% - 40px);
    }

    .info{
        position: relative;
        transform: translate(0);
        max-width: 750px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        left: 0;

        &__top{
            text-align: center;
        }
    }
    .hero{
        height: unset;

        .h5{
            margin-bottom: 3em;
        }

        &__image{
            display: none;
        }

        &__text-wrapper{
            background-image:url('/img/bg.jpg') ;
            background-size: cover;
            background-position: top center;
            backdrop-filter: brightness(60%);
        }

        .darker{
            position: absolute;
            inset: 0;
            background-color: rgba(0,0,0,.7);
        }
        &__text{
            position: relative;
            width: calc(100% - 40px);
            max-width: 750px;
            left: 50%;
            transform: translateX(-50%);
            margin-left: 0;
            height: unset;
        }
    }
    .experience{
        margin-bottom: 0;
    }
    .scroll-menu{
        right: 20px;
    }
    .breakpoint{
        margin: 4em 0 2em;
    }
}

@media(max-width:950px){
    .scroll-menu{
        display: none;;
    }
}
@media(max-width:768px){
    html {
        font-size: 9px;
    }
    .info{
        flex-direction: column;
    }
}
@media(max-width:500px){
    html {
        font-size: 8px;
    }
}

@media(max-width:400px){
    .info-container{
        padding: 10px 10px 0;
    }
    .info{
        padding: 10px;
        
        .media{
            width: 40px;
            height: 40px;
        }
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}